@use "utilities"
@use "variables"

\:root
  /* Color Tokens */
  +utilities.create-property("primary--100", variables.$blue--300)
  +utilities.create-property("primary--200", variables.$blue--400)
  +utilities.create-property("primary--300", variables.$blue--500)
  +utilities.create-property("secondary--100", variables.$blue--100)
  +utilities.create-property("secondary--200", variables.$blue--200)
  +utilities.create-property("tertiary--100", variables.$green--100)
  +utilities.create-property("tertiary--200", variables.$green--200)
  +utilities.create-property("tertiary--300", variables.$green--300)
  +utilities.create-property("background--light", variables.$white)
  +utilities.create-property("background--dark", variables.$primary--200)
  +utilities.create-property("text--light", variables.$white)
  +utilities.create-property("text--dark", variables.$primary--300)
*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box
html
  font-size: 100%
body
  background: variables.$background--light
  color: variables.$primary--300
  margin: 0
  font: 400 1rem/1.5 "franklin-gothic", sans-serif
  display: flex
  flex-direction: column
  min-height: 100vh
main
  flex: 1 0 auto
h2
  color: variables.$primary--300
a
  color: variables.$white
  text-decoration: none
  opacity: 0.8
  &:hover
    opacity: 1

ul
  padding: 0
  margin: 0
  list-style: none
