---
import '@styles/global.sass';
import Nav from '@components/nav/Nav.astro';
import Footer from '@components/Footer.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://cdn-manuelosorio.cyclic.app/" />
    <link rel="preconnect" href="https://pnwx-api.manuelosorio.me" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
