@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap')

$f-poppins: 'Poppins', sans-serif

$f-weight-regular: 400
$f-weight-bold: 600
$f-size-body: 1rem
$f-size-header: 1.5rem

