---
import { Image } from 'astro:assets';
import './nav.sass';
import logo from '@images/logo.svg';
---

<nav class="nav">
  <input
    type="checkbox"
    id="nav-toggle"
    class="nav__checkbox visibility-none"
  />
  <div class="nav__group nav__group--left">
    <div class="nav__logo">
      <a href="/">
        <Image
          src={logo}
          alt="Pacific Northwest Logo"
          width="260"
          height="70"
        />
      </a>
    </div>
    <label for="nav-toggle" class="visibility-flex visibility-none--lg">
      Menu
      <span class="nav__hamburger"></span>
    </label>
  </div>
  <ul class="nav__group nav__group--right">
    <li class="nav__link"><a href="/">Home</a></li>
    <li class="nav__link"><a href="#">Equipment</a></li>
    <li class="nav__link"><a href="#">Accessories</a></li>
    <li class="nav__link"><a href="#">Supplies</a></li>
    <li class="nav__link"><a href="#">Login</a></li>
  </ul>
</nav>
