---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Pacific North West X-Ray">
  <main>
    <section>
      <h2>Why Choose Us</h2>
      <Card
        title="We are the best"
        description="We are the best because we are the best."
        href="#"
      />
    </section>
  </main>
</Layout>
