---
import Layout from '../layouts/Layout.astro';
import ProductCard from '@components/ProductCard.astro';
import VestImage from '@images/infab/lead-vest-skirt-703-infab.jpg';
import forearmShield from '@images/infab/forearm-shields-top-web-scaled.jpg';
import scatterGuard from '@images/infab/scatter-armor-disposable-lead-free-thinking-cap-dc-25-infab-scaled.jpg';
import hero from '@images/hero.jpg';
---

<Layout title="Pacific North West X-Ray">
  <header class="hero">
    <h1>Your Trusted Marketplace for X-Ray & Laboratory Equipment</h1>
  </header>
  <main>
    <section class="l-container l-container__flex--row">
      <h2 class="l-column--12">Why Choose Us</h2>
      <div class="product l-column--12 l-column__sm--6 l-column__lg--4">
        <ProductCard
          name="Full Overlap Lumbar Support Vest and Skirt"
          company="Infab"
          href="/product"
          image={VestImage}
          price="1200.00"
        />
      </div>
      <div class="product l-column--12 l-column__sm--6 l-column__lg--4">
        <ProductCard
          name="Forearm Shield Protection"
          company="Infab"
          href="#"
          image={forearmShield}
          price="500.00"
        />
      </div>
      <div class="product l-column--12 l-column__sm--6 l-column__lg--4">
        <ProductCard
          name="Scatter Armor Disposable Lead Free Thinking Cap"
          company="Infab"
          href="#"
          image={scatterGuard}
          price="150.00"
        />
      </div>
      <div class="l-column--12 cta">
        <a href="#" class="button button--primary">View All Products</a>
      </div>
    </section>
  </main>
</Layout>

<style>
  h2 {
    margin-bottom: 0;
    padding: 0;
    line-height: 0;
  }
  .cta {
    align-items: center;
    margin: auto;
  }
  .hero {
    background: linear-gradient(
        0deg,
        rgba(10, 34, 57, 0.65) 0%,
        rgba(10, 34, 57, 0.65) 100%
      ),
      url('../assets/images/hero.jpg'),
      lightgray 0 -846.579px / 100% 301.255% no-repeat;
    background-blend-mode: hard-light, normal;
    background-size: cover;
    min-height: 150px;
    padding: 10rem 4rem;
    color: var(--text--light);
  }
</style>
