.search-bar
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin: 1rem auto
  width: 80%
  //max-width: 120px
  border: 1px solid #ccc
  border-radius: 4px
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2)
  input
    padding: 1.5rem
  input, button

    display: flex
    border: 0
    height: 24px
    background: transparent

